
data prep/Day 2/Demos & Files/4 Visualization/visualization_demo.ows
data prep/Day 2/Demos & Files/4 Visualization/dataset2.csv
data prep/Day 2/Demos & Files/3 Exercise Amazon/2 Solution as a reference/list_of_prices.csv
data prep/Day 2/Demos & Files/3 Exercise Amazon/2 Solution as a reference/geckodriver.log
data prep/Day 2/Demos & Files/3 Exercise Amazon/2 Solution as a reference/geckodriver.exe
data prep/Day 2/Demos & Files/3 Exercise Amazon/2 Solution as a reference/Amazon_Products.ipynb
data prep/Day 2/Demos & Files/3 Exercise Amazon/2 Solution as a reference/Amazon_Products.html
data prep/Day 2/Demos & Files/3 Exercise Amazon/2 Solution as a reference/.ipynb_checkpoints/Amazon_Products-checkpoint.ipynb
data prep/Day 2/Demos & Files/3 Aggregation/3 Merging Datasets that have different sizes/2 by Pandas/Premier_League_Player_Top_Scorers.csv
data prep/Day 2/Demos & Files/3 Aggregation/3 Merging Datasets that have different sizes/2 by Pandas/outer_merged_output.csv
data prep/Day 2/Demos & Files/3 Aggregation/3 Merging Datasets that have different sizes/2 by Pandas/inner_merged_output.csv
data prep/Day 2/Demos & Files/3 Aggregation/3 Merging Datasets that have different sizes/2 by Pandas/epldata_final.csv
data prep/Day 2/Demos & Files/3 Aggregation/3 Merging Datasets that have different sizes/2 by Pandas/Data_Merging_by_Pandas.ipynb
data prep/Day 2/Demos & Files/3 Aggregation/3 Merging Datasets that have different sizes/2 by Pandas/.ipynb_checkpoints/Data_Merging_by_Pandas-checkpoint.ipynb
data prep/Day 2/Demos & Files/3 Aggregation/3 Merging Datasets that have different sizes/1 by Orange/Premier_League_Player_Top_Scorers.csv
data prep/Day 2/Demos & Files/3 Aggregation/3 Merging Datasets that have different sizes/1 by Orange/merging.ows
data prep/Day 2/Demos & Files/3 Aggregation/3 Merging Datasets that have different sizes/1 by Orange/epldata_final.csv
data prep/Day 2/Demos & Files/3 Aggregation/2 using Orange/merging_demo.ows
data prep/Day 2/Demos & Files/3 Aggregation/2 using Orange/dataset2.csv
data prep/Day 2/Demos & Files/3 Aggregation/2 using Orange/dataset1.csv
data prep/Day 2/Demos & Files/3 Aggregation/1 using Pandas/titanic-passengers.json
data prep/Day 2/Demos & Files/3 Aggregation/1 using Pandas/titanic-passengers.csv
data prep/Day 2/Demos & Files/3 Aggregation/1 using Pandas/merged_output.csv
data prep/Day 2/Demos & Files/3 Aggregation/1 using Pandas/file2.json
data prep/Day 2/Demos & Files/3 Aggregation/1 using Pandas/file1.json
data prep/Day 2/Demos & Files/3 Aggregation/1 using Pandas/dataset2.csv
data prep/Day 2/Demos & Files/3 Aggregation/1 using Pandas/dataset1.csv
data prep/Day 2/Demos & Files/3 Aggregation/1 using Pandas/Data_Aggr_by_Pandas.ipynb
data prep/Day 2/Demos & Files/3 Aggregation/1 using Pandas/Data_Aggr_by_Pandas.html
data prep/Day 2/Demos & Files/3 Aggregation/1 using Pandas/.ipynb_checkpoints/Data_Aggr_by_Pandas-checkpoint.ipynb
data prep/Day 2/Demos & Files/2 Selenium/3 Exercise Amazon/2 Solution as a reference/list_of_prices.csv
data prep/Day 2/Demos & Files/2 Selenium/3 Exercise Amazon/2 Solution as a reference/geckodriver.log
data prep/Day 2/Demos & Files/2 Selenium/3 Exercise Amazon/2 Solution as a reference/geckodriver.exe
data prep/Day 2/Demos & Files/2 Selenium/3 Exercise Amazon/2 Solution as a reference/Amazon_Products.ipynb
data prep/Day 2/Demos & Files/2 Selenium/3 Exercise Amazon/2 Solution as a reference/Amazon_Products.html
data prep/Day 2/Demos & Files/2 Selenium/3 Exercise Amazon/2 Solution as a reference/.ipynb_checkpoints/Amazon_Products-checkpoint.ipynb
data prep/Day 2/Demos & Files/2 Selenium/2 Scraping_NBA_Player_Names_and_Salaries/Scraping_NBA_Player_Names_and_Salaries.ipynb
data prep/Day 2/Demos & Files/2 Selenium/2 Scraping_NBA_Player_Names_and_Salaries/players_names_and_salaries.csv
data prep/Day 2/Demos & Files/2 Selenium/2 Scraping_NBA_Player_Names_and_Salaries/geckodriver.log
data prep/Day 2/Demos & Files/2 Selenium/2 Scraping_NBA_Player_Names_and_Salaries/geckodriver.exe
data prep/Day 2/Demos & Files/2 Selenium/2 Scraping_NBA_Player_Names_and_Salaries/.ipynb_checkpoints/Scraping_NBA_Player_Names_and_Salaries-checkpoint.ipynb
data prep/Day 2/Demos & Files/2 Selenium/1 Search_by_Selenuim/geckodriver.log
data prep/Day 2/Demos & Files/2 Selenium/1 Search_by_Selenuim/geckodriver.exe
data prep/Day 2/Demos & Files/2 Selenium/1 Search_by_Selenuim/First_Demo.ipynb
data prep/Day 2/Demos & Files/2 Selenium/1 Search_by_Selenuim/.ipynb_checkpoints/First_Demo-checkpoint.ipynb
data prep/Day 2/Demos & Files/2 Scraping_NBA_Player_Names_and_Salaries/Untitled.ipynb
data prep/Day 2/Demos & Files/2 Scraping_NBA_Player_Names_and_Salaries/Scraping_NBA_Player_Names_and_Salaries.ipynb
data prep/Day 2/Demos & Files/2 Scraping_NBA_Player_Names_and_Salaries/players_names_and_salaries.csv
data prep/Day 2/Demos & Files/2 Scraping_NBA_Player_Names_and_Salaries/geckodriver.log
data prep/Day 2/Demos & Files/2 Scraping_NBA_Player_Names_and_Salaries/geckodriver.exe
data prep/Day 2/Demos & Files/2 Scraping_NBA_Player_Names_and_Salaries/chromedriver.exe
data prep/Day 2/Demos & Files/2 Scraping_NBA_Player_Names_and_Salaries/.ipynb_checkpoints/Untitled-checkpoint.ipynb
data prep/Day 2/Demos & Files/2 Scraping_NBA_Player_Names_and_Salaries/.ipynb_checkpoints/Scraping_NBA_Player_Names_and_Salaries-checkpoint.ipynb
data prep/Day 2/Demos & Files/1 Search_by_Selenuim/geckodriver.log
data prep/Day 2/Demos & Files/1 Search_by_Selenuim/geckodriver.exe
data prep/Day 2/Demos & Files/1 Search_by_Selenuim/First_Demo.ipynb
data prep/Day 2/Demos & Files/1 Search_by_Selenuim/.ipynb_checkpoints/First_Demo-checkpoint.ipynb
data prep/Day 2/Demos & Files/1 API/3 Forecast API/URL.txt
data prep/Day 2/Demos & Files/1 API/3 Forecast API/result.json
data prep/Day 2/Demos & Files/1 API/3 Forecast API/outputAsCSVFile.csv
data prep/Day 2/Demos & Files/1 API/3 Forecast API/Conver_JSON_Result_to_CSV.ipynb
data prep/Day 2/Demos & Files/1 API/3 Forecast API/.ipynb_checkpoints/Conver_JSON_Result_to_CSV-checkpoint.ipynb
data prep/Day 2/Demos & Files/1 API/2 Weather in Cairo API/URL.txt
data prep/Day 2/Demos & Files/1 API/2 Weather in Cairo API/result.json
data prep/Day 2/Demos & Files/1 API/1 Weather in Cairo/URL.txt
data prep/Day 2/Data Exploration and Preparation_Intake1_Alex_Day2.pdf
data prep/Day 1/Demos & Files/6 DB/2 Helper Files/9 sql-cartesian-joins.pdf
data prep/Day 1/Demos & Files/6 DB/2 Helper Files/8 sql-full-joins.pdf
data prep/Day 1/Demos & Files/6 DB/2 Helper Files/7 sql-right-joins.pdf
data prep/Day 1/Demos & Files/6 DB/2 Helper Files/6 sql-left-joins.pdf
data prep/Day 1/Demos & Files/6 DB/2 Helper Files/5 sql-inner-joins.pdf
data prep/Day 1/Demos & Files/6 DB/2 Helper Files/4 sql-check.pdf
data prep/Day 1/Demos & Files/6 DB/2 Helper Files/3 SQL.pdf
data prep/Day 1/Demos & Files/6 DB/2 Helper Files/2 ERD Mapping to Tables.pdf
data prep/Day 1/Demos & Files/6 DB/2 Helper Files/12 inline_view.png
data prep/Day 1/Demos & Files/6 DB/2 Helper Files/11 correlated_subquery_2.png
data prep/Day 1/Demos & Files/6 DB/2 Helper Files/10 subquery.png
data prep/Day 1/Demos & Files/6 DB/2 Helper Files/1 ERD.pdf
data prep/Day 1/Demos & Files/6 DB/1 Demo/northwind.sql
data prep/Day 1/Demos & Files/6 DB/1 Demo/data-1618616355189.csv
data prep/Day 1/Demos & Files/5 ARFF samples & demos/3 Convert by RapidMiner/read_ARFF.rmp
data prep/Day 1/Demos & Files/5 ARFF samples & demos/2 Convert by Scipy/weather.arff
data prep/Day 1/Demos & Files/5 ARFF samples & demos/2 Convert by Scipy/Untitled.ipynb
data prep/Day 1/Demos & Files/5 ARFF samples & demos/2 Convert by Scipy/titanic.arff
data prep/Day 1/Demos & Files/5 ARFF samples & demos/2 Convert by Scipy/csv_from_arff_data.csv
data prep/Day 1/Demos & Files/5 ARFF samples & demos/2 Convert by Scipy/arffRead.py
data prep/Day 1/Demos & Files/5 ARFF samples & demos/2 Convert by Scipy/.ipynb_checkpoints/Untitled-checkpoint.ipynb
data prep/Day 1/Demos & Files/5 ARFF samples & demos/1 samples/weather.arff
data prep/Day 1/Demos & Files/5 ARFF samples & demos/1 samples/titanic.arff
data prep/Day 1/Demos & Files/4 JSON samples & demos/2 convert to CSV/data_out.csv
data prep/Day 1/Demos & Files/4 JSON samples & demos/2 convert to CSV/data.json
data prep/Day 1/Demos & Files/4 JSON samples & demos/2 convert to CSV/csv_from_json_data.csv
data prep/Day 1/Demos & Files/4 JSON samples & demos/2 convert to CSV/Convert_JSON_To_CSV.ipynb
data prep/Day 1/Demos & Files/4 JSON samples & demos/2 convert to CSV/convert.py
data prep/Day 1/Demos & Files/4 JSON samples & demos/2 convert to CSV/.ipynb_checkpoints/Convert_JSON_To_CSV-checkpoint.ipynb
data prep/Day 1/Demos & Files/4 JSON samples & demos/1 samples/data.json
data prep/Day 1/Demos & Files/3 XML samples & demos/5 RapidMiner/XML sample.xml
data prep/Day 1/Demos & Files/3 XML samples & demos/5 RapidMiner/output.csv
data prep/Day 1/Demos & Files/3 XML samples & demos/5 RapidMiner/Convert_XML_to_CSV.rmp
data prep/Day 1/Demos & Files/3 XML samples & demos/5 RapidMiner/4.png
data prep/Day 1/Demos & Files/3 XML samples & demos/5 RapidMiner/3.png
data prep/Day 1/Demos & Files/3 XML samples & demos/5 RapidMiner/2.png
data prep/Day 1/Demos & Files/3 XML samples & demos/5 RapidMiner/1.png
data prep/Day 1/Demos & Files/3 XML samples & demos/4 XSLT/XSLT_Out.html
data prep/Day 1/Demos & Files/3 XML samples & demos/4 XSLT/XSLT sample_to HTML.xslt
data prep/Day 1/Demos & Files/3 XML samples & demos/4 XSLT/XSLT sample_to CSV.xslt
data prep/Day 1/Demos & Files/3 XML samples & demos/4 XSLT/XML sample.xml
data prep/Day 1/Demos & Files/3 XML samples & demos/4 XSLT/output.html
data prep/Day 1/Demos & Files/3 XML samples & demos/4 XSLT/output.csv
data prep/Day 1/Demos & Files/3 XML samples & demos/3 XPATH/books.xml
data prep/Day 1/Demos & Files/3 XML samples & demos/3 XPATH/5.png
data prep/Day 1/Demos & Files/3 XML samples & demos/3 XPATH/4.png
data prep/Day 1/Demos & Files/3 XML samples & demos/3 XPATH/3.png
data prep/Day 1/Demos & Files/3 XML samples & demos/3 XPATH/2.png
data prep/Day 1/Demos & Files/3 XML samples & demos/3 XPATH/1.png
data prep/Day 1/Demos & Files/3 XML samples & demos/2 XSD/note.xsd
data prep/Day 1/Demos & Files/3 XML samples & demos/2 XSD/catalog Schema.xsd
data prep/Day 1/Demos & Files/3 XML samples & demos/1 XML/XSLT_output.csv
data prep/Day 1/Demos & Files/3 XML samples & demos/1 XML/sample4.xml
data prep/Day 1/Demos & Files/3 XML samples & demos/1 XML/sample3.xml
data prep/Day 1/Demos & Files/3 XML samples & demos/1 XML/sample2.xml
data prep/Day 1/Demos & Files/3 XML samples & demos/1 XML/sample1.xml
data prep/Day 1/Demos & Files/2 Orange Demos/orange_demo.ows
data prep/Day 1/Demos & Files/2 Orange Demos/orange_demo 8.ows
data prep/Day 1/Demos & Files/2 Orange Demos/orange_demo 7.ows
data prep/Day 1/Demos & Files/2 Orange Demos/orange_demo 6.ows
data prep/Day 1/Demos & Files/2 Orange Demos/orange_demo 5.ows
data prep/Day 1/Demos & Files/2 Orange Demos/orange_demo 4.ows
data prep/Day 1/Demos & Files/2 Orange Demos/orange_demo 3.ows
data prep/Day 1/Demos & Files/2 Orange Demos/orange_demo 2.ows
data prep/Day 1/Demos & Files/1 CSV Examples/surveys.csv
data prep/Day 1/Demos & Files/1 CSV Examples/COVID-19-geographic-disbtribution-worldwide.csv
data prep/Day 1/Data Exploration and Preparation_Intake1_Alex_Day1.pdf
data prep/.ipynb_checkpoints/practical 1-checkpoint.ipynb
data prep/practical 1/.ipynb_checkpoints/practical 1-checkpoint.ipynb
intro to python/.ipynb_checkpoints/Practical part 2-checkpoint.ipynb
intro to python/hackerrank/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Probability/From ali/.ipynb_checkpoints/PDS_ITI_PRO_Student_Lab_1-checkpoint.ipynb
Probability/From ali/.ipynb_checkpoints/PDS_ITI_PRO_Student_Lab_2-checkpoint.ipynb
Probability/From ali/.ipynb_checkpoints/PDS_ITI_PRO_Student_Lab_3-checkpoint.ipynb
