
data prep/Day 2/Demos & Files/4 Visualization/visualization_demo.ows
data prep/Day 2/Demos & Files/4 Visualization/dataset2.csv
data prep/Day 2/Demos & Files/3 Exercise Amazon/2 Solution as a reference/list_of_prices.csv
data prep/Day 2/Demos & Files/3 Exercise Amazon/2 Solution as a reference/geckodriver.log
data prep/Day 2/Demos & Files/3 Exercise Amazon/2 Solution as a reference/geckodriver.exe
data prep/Day 2/Demos & Files/3 Exercise Amazon/2 Solution as a reference/Amazon_Products.ipynb
data prep/Day 2/Demos & Files/3 Exercise Amazon/2 Solution as a reference/Amazon_Products.html
data prep/Day 2/Demos & Files/3 Exercise Amazon/2 Solution as a reference/.ipynb_checkpoints/Amazon_Products-checkpoint.ipynb
data prep/Day 2/Demos & Files/3 Aggregation/3 Merging Datasets that have different sizes/2 by Pandas/Premier_League_Player_Top_Scorers.csv
data prep/Day 2/Demos & Files/3 Aggregation/3 Merging Datasets that have different sizes/2 by Pandas/outer_merged_output.csv
data prep/Day 2/Demos & Files/3 Aggregation/3 Merging Datasets that have different sizes/2 by Pandas/inner_merged_output.csv
data prep/Day 2/Demos & Files/3 Aggregation/3 Merging Datasets that have different sizes/2 by Pandas/epldata_final.csv
data prep/Day 2/Demos & Files/3 Aggregation/3 Merging Datasets that have different sizes/2 by Pandas/Data_Merging_by_Pandas.ipynb
data prep/Day 2/Demos & Files/3 Aggregation/3 Merging Datasets that have different sizes/2 by Pandas/.ipynb_checkpoints/Data_Merging_by_Pandas-checkpoint.ipynb
data prep/Day 2/Demos & Files/3 Aggregation/3 Merging Datasets that have different sizes/1 by Orange/Premier_League_Player_Top_Scorers.csv
data prep/Day 2/Demos & Files/3 Aggregation/3 Merging Datasets that have different sizes/1 by Orange/merging.ows
data prep/Day 2/Demos & Files/3 Aggregation/3 Merging Datasets that have different sizes/1 by Orange/epldata_final.csv
data prep/Day 2/Demos & Files/3 Aggregation/2 using Orange/merging_demo.ows
data prep/Day 2/Demos & Files/3 Aggregation/2 using Orange/dataset2.csv
data prep/Day 2/Demos & Files/3 Aggregation/2 using Orange/dataset1.csv
data prep/Day 2/Demos & Files/3 Aggregation/1 using Pandas/titanic-passengers.json
data prep/Day 2/Demos & Files/3 Aggregation/1 using Pandas/titanic-passengers.csv
data prep/Day 2/Demos & Files/3 Aggregation/1 using Pandas/merged_output.csv
data prep/Day 2/Demos & Files/3 Aggregation/1 using Pandas/file2.json
data prep/Day 2/Demos & Files/3 Aggregation/1 using Pandas/file1.json
data prep/Day 2/Demos & Files/3 Aggregation/1 using Pandas/dataset2.csv
data prep/Day 2/Demos & Files/3 Aggregation/1 using Pandas/dataset1.csv
data prep/Day 2/Demos & Files/3 Aggregation/1 using Pandas/Data_Aggr_by_Pandas.ipynb
data prep/Day 2/Demos & Files/3 Aggregation/1 using Pandas/Data_Aggr_by_Pandas.html
data prep/Day 2/Demos & Files/3 Aggregation/1 using Pandas/.ipynb_checkpoints/Data_Aggr_by_Pandas-checkpoint.ipynb
data prep/Day 2/Demos & Files/2 Selenium/3 Exercise Amazon/2 Solution as a reference/list_of_prices.csv
data prep/Day 2/Demos & Files/2 Selenium/3 Exercise Amazon/2 Solution as a reference/geckodriver.log
data prep/Day 2/Demos & Files/2 Selenium/3 Exercise Amazon/2 Solution as a reference/geckodriver.exe
data prep/Day 2/Demos & Files/2 Selenium/3 Exercise Amazon/2 Solution as a reference/Amazon_Products.ipynb
data prep/Day 2/Demos & Files/2 Selenium/3 Exercise Amazon/2 Solution as a reference/Amazon_Products.html
data prep/Day 2/Demos & Files/2 Selenium/3 Exercise Amazon/2 Solution as a reference/.ipynb_checkpoints/Amazon_Products-checkpoint.ipynb
data prep/Day 2/Demos & Files/2 Selenium/2 Scraping_NBA_Player_Names_and_Salaries/Scraping_NBA_Player_Names_and_Salaries.ipynb
data prep/Day 2/Demos & Files/2 Selenium/2 Scraping_NBA_Player_Names_and_Salaries/players_names_and_salaries.csv
data prep/Day 2/Demos & Files/2 Selenium/2 Scraping_NBA_Player_Names_and_Salaries/geckodriver.log
data prep/Day 2/Demos & Files/2 Selenium/2 Scraping_NBA_Player_Names_and_Salaries/geckodriver.exe
data prep/Day 2/Demos & Files/2 Selenium/2 Scraping_NBA_Player_Names_and_Salaries/.ipynb_checkpoints/Scraping_NBA_Player_Names_and_Salaries-checkpoint.ipynb
data prep/Day 2/Demos & Files/2 Selenium/1 Search_by_Selenuim/geckodriver.log
data prep/Day 2/Demos & Files/2 Selenium/1 Search_by_Selenuim/geckodriver.exe
data prep/Day 2/Demos & Files/2 Selenium/1 Search_by_Selenuim/First_Demo.ipynb
data prep/Day 2/Demos & Files/2 Selenium/1 Search_by_Selenuim/.ipynb_checkpoints/First_Demo-checkpoint.ipynb
data prep/Day 2/Demos & Files/2 Scraping_NBA_Player_Names_and_Salaries/Untitled.ipynb
data prep/Day 2/Demos & Files/2 Scraping_NBA_Player_Names_and_Salaries/Scraping_NBA_Player_Names_and_Salaries.ipynb
data prep/Day 2/Demos & Files/2 Scraping_NBA_Player_Names_and_Salaries/players_names_and_salaries.csv
data prep/Day 2/Demos & Files/2 Scraping_NBA_Player_Names_and_Salaries/geckodriver.log
data prep/Day 2/Demos & Files/2 Scraping_NBA_Player_Names_and_Salaries/geckodriver.exe
data prep/Day 2/Demos & Files/2 Scraping_NBA_Player_Names_and_Salaries/chromedriver.exe
data prep/Day 2/Demos & Files/2 Scraping_NBA_Player_Names_and_Salaries/.ipynb_checkpoints/Untitled-checkpoint.ipynb
data prep/Day 2/Demos & Files/2 Scraping_NBA_Player_Names_and_Salaries/.ipynb_checkpoints/Scraping_NBA_Player_Names_and_Salaries-checkpoint.ipynb
data prep/Day 2/Demos & Files/1 Search_by_Selenuim/geckodriver.log
data prep/Day 2/Demos & Files/1 Search_by_Selenuim/geckodriver.exe
data prep/Day 2/Demos & Files/1 Search_by_Selenuim/First_Demo.ipynb
data prep/Day 2/Demos & Files/1 Search_by_Selenuim/.ipynb_checkpoints/First_Demo-checkpoint.ipynb
data prep/Day 2/Demos & Files/1 API/3 Forecast API/URL.txt
data prep/Day 2/Demos & Files/1 API/3 Forecast API/result.json
data prep/Day 2/Demos & Files/1 API/3 Forecast API/outputAsCSVFile.csv
data prep/Day 2/Demos & Files/1 API/3 Forecast API/Conver_JSON_Result_to_CSV.ipynb
data prep/Day 2/Demos & Files/1 API/3 Forecast API/.ipynb_checkpoints/Conver_JSON_Result_to_CSV-checkpoint.ipynb
data prep/Day 2/Demos & Files/1 API/2 Weather in Cairo API/URL.txt
data prep/Day 2/Demos & Files/1 API/2 Weather in Cairo API/result.json
data prep/Day 2/Demos & Files/1 API/1 Weather in Cairo/URL.txt
data prep/Day 2/Data Exploration and Preparation_Intake1_Alex_Day2.pdf
data prep/Day 1/Demos & Files/6 DB/2 Helper Files/9 sql-cartesian-joins.pdf
data prep/Day 1/Demos & Files/6 DB/2 Helper Files/8 sql-full-joins.pdf
data prep/Day 1/Demos & Files/6 DB/2 Helper Files/7 sql-right-joins.pdf
data prep/Day 1/Demos & Files/6 DB/2 Helper Files/6 sql-left-joins.pdf
data prep/Day 1/Demos & Files/6 DB/2 Helper Files/5 sql-inner-joins.pdf
data prep/Day 1/Demos & Files/6 DB/2 Helper Files/4 sql-check.pdf
data prep/Day 1/Demos & Files/6 DB/2 Helper Files/3 SQL.pdf
data prep/Day 1/Demos & Files/6 DB/2 Helper Files/2 ERD Mapping to Tables.pdf
data prep/Day 1/Demos & Files/6 DB/2 Helper Files/12 inline_view.png
data prep/Day 1/Demos & Files/6 DB/2 Helper Files/11 correlated_subquery_2.png
data prep/Day 1/Demos & Files/6 DB/2 Helper Files/10 subquery.png
data prep/Day 1/Demos & Files/6 DB/2 Helper Files/1 ERD.pdf
data prep/Day 1/Demos & Files/6 DB/1 Demo/northwind.sql
data prep/Day 1/Demos & Files/6 DB/1 Demo/data-1618616355189.csv
data prep/Day 1/Demos & Files/5 ARFF samples & demos/3 Convert by RapidMiner/read_ARFF.rmp
data prep/Day 1/Demos & Files/5 ARFF samples & demos/2 Convert by Scipy/weather.arff
data prep/Day 1/Demos & Files/5 ARFF samples & demos/2 Convert by Scipy/Untitled.ipynb
data prep/Day 1/Demos & Files/5 ARFF samples & demos/2 Convert by Scipy/titanic.arff
data prep/Day 1/Demos & Files/5 ARFF samples & demos/2 Convert by Scipy/csv_from_arff_data.csv
data prep/Day 1/Demos & Files/5 ARFF samples & demos/2 Convert by Scipy/arffRead.py
data prep/Day 1/Demos & Files/5 ARFF samples & demos/2 Convert by Scipy/.ipynb_checkpoints/Untitled-checkpoint.ipynb
data prep/Day 1/Demos & Files/5 ARFF samples & demos/1 samples/weather.arff
data prep/Day 1/Demos & Files/5 ARFF samples & demos/1 samples/titanic.arff
data prep/Day 1/Demos & Files/4 JSON samples & demos/2 convert to CSV/data_out.csv
data prep/Day 1/Demos & Files/4 JSON samples & demos/2 convert to CSV/data.json
data prep/Day 1/Demos & Files/4 JSON samples & demos/2 convert to CSV/csv_from_json_data.csv
data prep/Day 1/Demos & Files/4 JSON samples & demos/2 convert to CSV/Convert_JSON_To_CSV.ipynb
data prep/Day 1/Demos & Files/4 JSON samples & demos/2 convert to CSV/convert.py
data prep/Day 1/Demos & Files/4 JSON samples & demos/2 convert to CSV/.ipynb_checkpoints/Convert_JSON_To_CSV-checkpoint.ipynb
data prep/Day 1/Demos & Files/4 JSON samples & demos/1 samples/data.json
data prep/Day 1/Demos & Files/3 XML samples & demos/5 RapidMiner/XML sample.xml
data prep/Day 1/Demos & Files/3 XML samples & demos/5 RapidMiner/output.csv
data prep/Day 1/Demos & Files/3 XML samples & demos/5 RapidMiner/Convert_XML_to_CSV.rmp
data prep/Day 1/Demos & Files/3 XML samples & demos/5 RapidMiner/4.png
data prep/Day 1/Demos & Files/3 XML samples & demos/5 RapidMiner/3.png
data prep/Day 1/Demos & Files/3 XML samples & demos/5 RapidMiner/2.png
data prep/Day 1/Demos & Files/3 XML samples & demos/5 RapidMiner/1.png
data prep/Day 1/Demos & Files/3 XML samples & demos/4 XSLT/XSLT_Out.html
data prep/Day 1/Demos & Files/3 XML samples & demos/4 XSLT/XSLT sample_to HTML.xslt
data prep/Day 1/Demos & Files/3 XML samples & demos/4 XSLT/XSLT sample_to CSV.xslt
data prep/Day 1/Demos & Files/3 XML samples & demos/4 XSLT/XML sample.xml
data prep/Day 1/Demos & Files/3 XML samples & demos/4 XSLT/output.html
data prep/Day 1/Demos & Files/3 XML samples & demos/4 XSLT/output.csv
data prep/Day 1/Demos & Files/3 XML samples & demos/3 XPATH/books.xml
data prep/Day 1/Demos & Files/3 XML samples & demos/3 XPATH/5.png
data prep/Day 1/Demos & Files/3 XML samples & demos/3 XPATH/4.png
data prep/Day 1/Demos & Files/3 XML samples & demos/3 XPATH/3.png
data prep/Day 1/Demos & Files/3 XML samples & demos/3 XPATH/2.png
data prep/Day 1/Demos & Files/3 XML samples & demos/3 XPATH/1.png
data prep/Day 1/Demos & Files/3 XML samples & demos/2 XSD/note.xsd
data prep/Day 1/Demos & Files/3 XML samples & demos/2 XSD/catalog Schema.xsd
data prep/Day 1/Demos & Files/3 XML samples & demos/1 XML/XSLT_output.csv
data prep/Day 1/Demos & Files/3 XML samples & demos/1 XML/sample4.xml
data prep/Day 1/Demos & Files/3 XML samples & demos/1 XML/sample3.xml
data prep/Day 1/Demos & Files/3 XML samples & demos/1 XML/sample2.xml
data prep/Day 1/Demos & Files/3 XML samples & demos/1 XML/sample1.xml
data prep/Day 1/Demos & Files/2 Orange Demos/orange_demo.ows
data prep/Day 1/Demos & Files/2 Orange Demos/orange_demo 8.ows
data prep/Day 1/Demos & Files/2 Orange Demos/orange_demo 7.ows
data prep/Day 1/Demos & Files/2 Orange Demos/orange_demo 6.ows
data prep/Day 1/Demos & Files/2 Orange Demos/orange_demo 5.ows
data prep/Day 1/Demos & Files/2 Orange Demos/orange_demo 4.ows
data prep/Day 1/Demos & Files/2 Orange Demos/orange_demo 3.ows
data prep/Day 1/Demos & Files/2 Orange Demos/orange_demo 2.ows
data prep/Day 1/Demos & Files/1 CSV Examples/surveys.csv
data prep/Day 1/Demos & Files/1 CSV Examples/COVID-19-geographic-disbtribution-worldwide.csv
data prep/Day 1/Data Exploration and Preparation_Intake1_Alex_Day1.pdf
data prep/.ipynb_checkpoints/practical 1-checkpoint.ipynb
data prep/practical 1/.ipynb_checkpoints/practical 1-checkpoint.ipynb
intro to python/.ipynb_checkpoints/Practical part 2-checkpoint.ipynb
intro to python/hackerrank/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Probability/From ali/.ipynb_checkpoints/PDS_ITI_PRO_Student_Lab_1-checkpoint.ipynb
Probability/From ali/.ipynb_checkpoints/PDS_ITI_PRO_Student_Lab_2-checkpoint.ipynb
Probability/From ali/.ipynb_checkpoints/PDS_ITI_PRO_Student_Lab_3-checkpoint.ipynb
11.numerical optimization/.ipynb_checkpoints/HW1-checkpoint.ipynb
11.numerical optimization/.ipynb_checkpoints/Practical Session 2,3 GD Variants Batch - Mini-Batch - Stochastic -Momentum - NAG-checkpoint.ipynb
11.numerical optimization/.ipynb_checkpoints/Practical Session 1 GD Implementation for LR -checkpoint.ipynb
11.numerical optimization/.ipynb_checkpoints/Abdelrhman Mohey G1 HW4-checkpoint.ipynb
11.numerical optimization/.ipynb_checkpoints/Practical Session 4 Adagrad-RMSProp- Adam ( Esraa saeid group3)-checkpoint.ipynb
11.numerical optimization/.ipynb_checkpoints/AdaGrad, RMSProp & Adam - Muhammed Abojabal G1-checkpoint.ipynb
11.numerical optimization/.ipynb_checkpoints/Abdelrhman Mohey G1 HW4with try all in one-checkpoint.ipynb
01.java development SE/SaprkOnyoutubedata/target/classes/data/USvideos.csv.lnk
01.java development SE/SaprkOnyoutubedata/target/classes/data/USvideos.csv
01.java development SE/SaprkOnyoutubedata/target/classes/data/USvideos.csv
13.Intermediate python/.ipynb_checkpoints/lab2-inter_python Abdelrhman Mohey-checkpoint.ipynb
01.java development SE/SpringWithSparkProject/src/main/resources/Areas_Bar_chart10.png
01.java development SE/SpringWithSparkProject/src/main/resources/Areas_Bar_chart5.png
01.java development SE/SpringWithSparkProject/src/main/resources/company_pie_chart5.JPG
01.java development SE/SpringWithSparkProject/src/main/resources/title_bar_chart10.png
01.java development SE/SpringWithSparkProject/src/main/resources/title_bar_chart5.png
12.Challegnge/Seoul Bike Rental Prediction/.ipynb_checkpoints/Seoul Bike Rental Prediction-checkpoint.ipynb
12.Challegnge/Seoul Bike Rental Prediction/seoul-bike-rental-ai-pro-iti.zip
12.Challegnge/Seoul Bike Rental Prediction/sample_submission.csv
12.Challegnge/Seoul Bike Rental Prediction/submission.csv
12.Challegnge/Seoul Bike Rental Prediction/test.csv
12.Challegnge/Seoul Bike Rental Prediction/train.csv
13.Intermediate python/.ipynb_checkpoints/Data Visualization On kaggle-checkpoint.ipynb
13.Intermediate python/EX/.ipynb_checkpoints/exercise-bar-charts-and-heatmaps-checkpoint.ipynb
13.Intermediate python/EX/exercise-choosing-plot-types-and-custom-styles.ipynb
13.Intermediate python/.ipynb_checkpoints/lab_3_inter_python-checkpoint.ipynb
13.Intermediate python/.ipynb_checkpoints/Session_6_Pandas_Overview-checkpoint.ipynb
13.Intermediate python/.ipynb_checkpoints/Session_7_Advanced_Pandas-checkpoint.ipynb
13.Intermediate python/.ipynb_checkpoints/Task 1 Abdelrhman Mohey-checkpoint.ipynb
13.Intermediate python/.ipynb_checkpoints/Task 1 Abdelrhman Mohey-Copy1-checkpoint.ipynb
13.Intermediate python/.ipynb_checkpoints/Task 2 Abdelrhman Mohey-checkpoint.ipynb
13.Intermediate python/.ipynb_checkpoints/Task1_Youssef-checkpoint.ipynb
13.Intermediate python/.ipynb_checkpoints/usecase-checkpoint.ipynb
13.Intermediate python/user_device.csv
13.Intermediate python/user_usage.csv
13.Intermediate python/heart.csv
13.Intermediate python/data.json
14.no sql/.ipynb_checkpoints/Aggregation-checkpoint.ipynb
14.no sql/.ipynb_checkpoints/CRUD - template-checkpoint.ipynb
14.no sql/.ipynb_checkpoints/CRUD_-_template_1-checkpoint.ipynb
14.no sql/.ipynb_checkpoints/LAB 3  replication and sharding-checkpoint.ipynb
16.ML 2/.ipynb_checkpoints/Hierarchical_Clustering_Lab-checkpoint.ipynb
16.ML 2/Day  1/.ipynb_checkpoints/k-means3-checkpoint.ipynb
16.ML 2/Day  1/.ipynb_checkpoints/Kmeans2-checkpoint.ipynb
16.ML 2/Day  1/.ipynb_checkpoints/Mohey KmeansImplementationAssignment-checkpoint.ipynb
16.ML 2/Day  1/.ipynb_checkpoints/ِMohey Hierarchical Clustering_Lab-checkpoint.ipynb
16.ML 2/Day  1/countries of the world.csv
16.ML 2/Day  1/datafile.mat
15.ML 1/House Prices - Advanced Regression Techniques/1 house-pricing-predictions/Abdo-Nabil.ipynb
15.ML 1/House Prices - Advanced Regression Techniques/1 house-pricing-predictions/From Gabal.ipynb
16.ML 2/.ipynb_checkpoints/DBSCAN_Assignment_1-checkpoint.ipynb
16.ML 2/.ipynb_checkpoints/gabal DBSCAN_Assignment-checkpoint.ipynb
16.ML 2/Day 2/.ipynb_checkpoints/DBSCAN - Muhammed Abojabal-checkpoint.ipynb
16.ML 2/Day 2/.ipynb_checkpoints/Mohey DBSCAN IMP-checkpoint.ipynb
16.ML 2/Day 2/.ipynb_checkpoints/Mohey DBSCAN-checkpoint.ipynb
16.ML 2/Day 2/.ipynb_checkpoints/Mohey PCA imp 2-checkpoint.ipynb
16.ML 2/Day 2/.ipynb_checkpoints/Mohey PCA IMP-checkpoint.ipynb
16.ML 2/Day 2/.ipynb_checkpoints/Mohey PCA--Demo-checkpoint.ipynb
16.ML 2/Day 2/.ipynb_checkpoints/PCA--Demo-checkpoint.ipynb
16.ML 2/Day 2/.ipynb_checkpoints/PCA_Implement_Numpy-checkpoint.ipynb
16.ML 2/Day 2/data/dataset5.csv
16.ML 2/Day 2/data/dataset6.csv
16.ML 2/Day 2/data/dataset7.csv
16.ML 2/Day 2/data/dataset8.csv
16.ML 2/Day 2/data/dataset9.csv
16.ML 2/Day 2/DBSCAN - Muhammed Abojabal.ipynb
16.ML 2/Day 2/DBSCAN_Assignment_1.ipynb
16.ML 2/Day 2/gabal DBSCAN_Assignment.ipynb
16.ML 2/Day 2/PCA_Implement_Numpy.ipynb
15.ML 1/Adult income dataset/adult-youssef.ipynb
15.ML 1/Adult income dataset/.ipynb_checkpoints/Decitio tree Try-checkpoint.ipynb
15.ML 1/Adult income dataset/.ipynb_checkpoints/adult-youssef-checkpoint.ipynb
data prep/practical 1/.ipynb_checkpoints/Scraping play ground-checkpoint.ipynb
data prep/practical 1/chromedriver 93 _win32.zip
16.ML 2/Day 3/.ipynb_checkpoints/Mohey Naive_Bayes-checkpoint.ipynb
16.ML 2/Day 3/.ipynb_checkpoints/Mixture_models_em_for_gmm-checkpoint.ipynb
15.ML 1/Bike Sharing Demand/.ipynb_checkpoints/Some Models Tries-checkpoint.ipynb
*.tsv
*.tfevents
15.ML 1/Bike Sharing Demand/catboost_info/catboost_training.json
15.ML 1/Bike Sharing Demand/bike-sharing-demand.zip
16.ML 2/Day 3/.ipynb_checkpoints/GMM gabal-checkpoint.ipynb
16.ML 2/Day 3/.ipynb_checkpoints/Mohey GMM implementation-checkpoint.ipynb
16.ML 2/Day 3/.ipynb_checkpoints/Mohey GMM on 9 datasets-checkpoint.ipynb
16.ML 2/Day 3/data/dataset5.csv
16.ML 2/Day 3/data/dataset6.csv
16.ML 2/Day 3/data/dataset7.csv
16.ML 2/Day 3/data/dataset8.csv
16.ML 2/Day 3/data/dataset9.csv
16.ML 2/Day 3/GMM Amr Ahmed G1 Alex- (1).ipynb
16.ML 2/Day 3/GMM gabal.ipynb
16.ML 2/Day 3/GMM_aboud.ipynb
18.Pyspark/Day 1/Assignment/Sols/AH saif PySpark_H_W_Session_1 HomeWork1.ipynb
18.Pyspark/Day 1/Assignment/Sols/AH saif RDD_Operations Homework_1.ipynb
18.Pyspark/Day 1/Assignment/Sols/PySpark_H_W_Session_1 (1).ipynb
18.Pyspark/Day 1/Assignment/Sols/PySpark_H_W_Session_1.ipynb
18.Pyspark/Day 1/Assignment/Sols/RDD_Operations (1).ipynb
18.Pyspark/Day 1/Assignment/Sols/RDD_Operations.ipynb
18.Pyspark/Day 1/Assignment/Sols/RDD_Operationsعبدالرحمن علاء الدين فتحي  (1).ipynb
18.Pyspark/Day 1/Assignment/Sols/RDD_Operationsعبدالرحمن علاء الدين فتحي .ipynb
18.Pyspark/Day 1/Assignment/walmart_stock.csv
18.Pyspark/Day 1/Material/NullData.csv
18.Pyspark/Day 1/Material/people.json
18.Pyspark/Day 1/Material/S1.pptx
18.Pyspark/Day 1/Assignment/.ipynb_checkpoints/Mohey_PySpark_H_W_Session_1-checkpoint.ipynb
18.Pyspark/Day 1/Assignment/.ipynb_checkpoints/Mohey_RDD_Operations-checkpoint.ipynb
18.Pyspark/Day 1/Assignment/.ipynb_checkpoints/PySpark_H_W_Session_1-checkpoint.ipynb
18.Pyspark/Day 1/Assignment/.ipynb_checkpoints/RDD_Operations-checkpoint.ipynb
18.Pyspark/Day 1/Assignment/Sols/.ipynb_checkpoints/pyspark_HW_session1-عبد الرحمن علاء الدين فتحي-checkpoint.ipynb
18.Pyspark/Day 1/Assignment/Sols/.ipynb_checkpoints/RDD_Operationsعبدالرحمن علاء الدين فتحي -checkpoint.ipynb
18.Pyspark/Day 1/Assignment/Sols/pyspark_HW_session1-عبد الرحمن علاء الدين فتحي.ipynb
18.Pyspark/Day 1/Assignment/Sols/sample1.txt
18.Pyspark/Day 1/Assignment/Sols/walmart_stock.csv
18.Pyspark/Day 2/Data/DataFrames_sample.json
18.Pyspark/Day 2/Data/ITI_data.csv
18.Pyspark/Day 2/Data/test1.csv
18.Pyspark/Day 2/Data/test3.csv
18.Pyspark/Day 2/Session_2_H_W_AmrAhmedG1 (1).ipynb
18.Pyspark/Day 2/Session_2_H_W_AmrAhmedG1.ipynb
18.Pyspark/Day 3/H_W_Session_ccc33cعبد الرحمن علاء الدين فتحي.ipynb
18.Pyspark/Day 3/sols/csvFiles/test3 - Copy (2).csv
18.Pyspark/Day 3/sols/csvFiles/test3 - Copy (3).csv
18.Pyspark/Day 3/sols/csvFiles/test3 - Copy (4).csv
18.Pyspark/Day 3/sols/csvFiles/test3 - Copy.csv
18.Pyspark/Day 3/sols/csvFiles/test3.csv
18.Pyspark/Day 3/sols/H_W_Session_ccc33cعبد الرحمن علاء الدين فتحي (2).ipynb
18.Pyspark/Day 3/sols/H_W_Session_ccc33cعبد الرحمن علاء الدين فتحي.ipynb
18.Pyspark/Day 3/sols/test3.csv
18.Pyspark/Day 3/test3.csv
*.delta
18.Pyspark/Practical/checkpoint/commits/0
18.Pyspark/Practical/checkpoint/commits/1
18.Pyspark/Practical/checkpoint/commits/2
18.Pyspark/Practical/checkpoint/metadata
18.Pyspark/Practical/checkpoint/offsets/0
18.Pyspark/Practical/checkpoint/offsets/1
18.Pyspark/Practical/checkpoint/offsets/2
18.Pyspark/Practical/checkpoint/sources/0/0
18.Pyspark/Practical/checkpoint/sources/0/1
18.Pyspark/Practical/checkpoint/sources/0/2
18.Pyspark/Practical/chkpnt/82a634dc-1742-4851-be0d-ad586d7efe44/connected-components-d96d6d59/2/._SUCCESS.crc
18.Pyspark/Practical/chkpnt/82a634dc-1742-4851-be0d-ad586d7efe44/connected-components-d96d6d59/2/.part-00000-a6fa64df-1599-405e-b748-9054da726781-c000.snappy.parquet.crc
18.Pyspark/Practical/chkpnt/82a634dc-1742-4851-be0d-ad586d7efe44/connected-components-d96d6d59/2/.part-00006-a6fa64df-1599-405e-b748-9054da726781-c000.snappy.parquet.crc
18.Pyspark/Practical/chkpnt/82a634dc-1742-4851-be0d-ad586d7efe44/connected-components-d96d6d59/2/.part-00036-a6fa64df-1599-405e-b748-9054da726781-c000.snappy.parquet.crc
18.Pyspark/Practical/chkpnt/82a634dc-1742-4851-be0d-ad586d7efe44/connected-components-d96d6d59/2/.part-00043-a6fa64df-1599-405e-b748-9054da726781-c000.snappy.parquet.crc
18.Pyspark/Practical/chkpnt/82a634dc-1742-4851-be0d-ad586d7efe44/connected-components-d96d6d59/2/.part-00140-a6fa64df-1599-405e-b748-9054da726781-c000.snappy.parquet.crc
18.Pyspark/Practical/chkpnt/82a634dc-1742-4851-be0d-ad586d7efe44/connected-components-d96d6d59/2/.part-00196-a6fa64df-1599-405e-b748-9054da726781-c000.snappy.parquet.crc
18.Pyspark/Practical/chkpnt/82a634dc-1742-4851-be0d-ad586d7efe44/connected-components-d96d6d59/2/_SUCCESS
*.parquet
18.Pyspark/Practical/Data.rar
18.Pyspark/Practical/Data/AABA_2006-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Data/AAPL_2006-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Data/all_stocks_2006-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Data/all_stocks_2017-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Data/AMZN_2006-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Data/AXP_2006-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Data/BA_2006-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Data/CAT_2006-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Data/CSCO_2006-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Data/CVX_2006-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Data/DIS_2006-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Data/GE_2006-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Data/GOOGL_2006-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Data/GS_2006-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Data/HD_2006-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Data/IBM_2006-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Data/INTC_2006-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Data/JNJ_2006-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Data/JPM_2006-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Data/KO_2006-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Data/MCD_2006-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Data/MMM_2006-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Data/MRK_2006-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Data/MSFT_2006-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Data/NKE_2006-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Data/PFE_2006-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Data/PG_2006-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Data/TRV_2006-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Data/UNH_2006-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Data/UTX_2006-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Data/VZ_2006-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Data/WMT_2006-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Data/XOM_2006-01-01_to_2018-01-01.csv
18.Pyspark/Practical/Practical_Work_3_Streaming_and_GraphFrames_AmrAhmed_Final.ipynb
18.Pyspark/Practical/Practical_work_Ali_Mohamed.ipynb
18.Pyspark/Practical/Practical_work_Muhammed_Abojabal.ipynb
18.Pyspark/Practical/test.csv
18.Pyspark/Practical/train.csv
19.Recommender System/ITI - Task 1 (Rank-Based + Knowledge-Based)/movies.dat
19.Recommender System/ITI - Task 1 (Rank-Based + Knowledge-Based)/movies_clean.csv
19.Recommender System/ITI - Task 1 (Rank-Based + Knowledge-Based)/ratings.dat
19.Recommender System/ITI - Task 1 (Rank-Based + Knowledge-Based)/reviews_clean.csv
19.Recommender System/ITI - Task 1 (Rank-Based + Knowledge-Based)/tests.py
19.Recommender System/ITI - Task 1 (Rank-Based + Knowledge-Based)/.ipynb_checkpoints/ITI - Task 1 (Rank-Based + Knowledge-Based) Amr-checkpoint.ipynb
19.Recommender System/ITI - Task 1 (Rank-Based + Knowledge-Based)/.ipynb_checkpoints/ITI - Task 1 (Rank-Based + Knowledge-Based) Mohey-checkpoint.ipynb
19.Recommender System/ITI - Task 1 (Rank-Based + Knowledge-Based)/.ipynb_checkpoints/ITI - Task 1 (Rank-Based + Knowledge-Based) unSolved-checkpoint.ipynb
*.pyc
19.Recommender System/ITI - Task 1 (Rank-Based + Knowledge-Based)/ITI - Task 1 (Rank-Based + Knowledge-Based) Mohey - Copy.ipynb
19.Recommender System/ITI - Task 1 (Rank-Based + Knowledge-Based)/ITI - Task 1 (Rank-Based + Knowledge-Based) Amr.ipynb
.ipynb_checkpoints
18.Pyspark/Final/Spark Final Project.zip
18.Pyspark/Final/Spark Final Project/healthcare-dataset-stroke-data.csv
18.Pyspark/Final/Spark-Final-Project---Predict-the-Stroke-Condition-main.zip
18.Pyspark/Final/Spark-Final-Project---Predict-the-Stroke-Condition-main/healthcare-dataset-stroke-data.csv
18.Pyspark/Final/Spark-Final-Project---Predict-the-Stroke-Condition-main/img/
18.Pyspark/Final/ALex/SMSSpamCollection
18.Pyspark/Final/ALex/smsspamcollection.zip
18.Pyspark/Final/ALex/Spark and Python for Big Data Final Exam-Branches _ Muhammed Abojabal.ipynb
18.Pyspark/Final/Spark_and_Python_for_Big_Data_Final_Exam.ipynb
19.Recommender System/ITI - Task 3 (Neighborhood CF)/ITI - Task 3 (Neighborhood CF)/imgs
19.Recommender System/ITI - Task 3 (Neighborhood CF)/ITI - Task 3 (Neighborhood CF)/all_recs.p
19.Recommender System/ITI - Task 3 (Neighborhood CF)/ITI - Task 3 (Neighborhood CF)/movies.dat
19.Recommender System/ITI - Task 3 (Neighborhood CF)/ITI - Task 3 (Neighborhood CF)/movies_clean.csv
19.Recommender System/ITI - Task 3 (Neighborhood CF)/ITI - Task 3 (Neighborhood CF)/Neighborhood CF - ITI Tasks - Copy.ipynb
19.Recommender System/ITI - Task 3 (Neighborhood CF)/ITI - Task 3 (Neighborhood CF)/ratings.dat
19.Recommender System/ITI - Task 3 (Neighborhood CF)/ITI - Task 3 (Neighborhood CF)/reviews_clean.csv
19.Recommender System/ITI - Task 3 (Neighborhood CF)/ITI - Task 3 (Neighborhood CF)/tests.py
19.Recommender System/ITI - Task 2 (Content-Based + Neighborhood CF)/Content-Based Recommendations - ITI Tasks.ipynb
19.Recommender System/ITI - Task 2 (Content-Based + Neighborhood CF)/Content_Based_Recommendations_ITI_Tasks.ipynb
19.Recommender System/ITI - Task 2 (Content-Based + Neighborhood CF)/ITI - Task 2 (Content-Based + Neighborhood CF)/Content-Based Recommendations - ITI Tasks (2).ipynb
19.Recommender System/ITI - Task 2 (Content-Based + Neighborhood CF)/ITI - Task 2 (Content-Based + Neighborhood CF)/all_recs.p
19.Recommender System/ITI - Task 2 (Content-Based + Neighborhood CF)/ITI - Task 2 (Content-Based + Neighborhood CF)/Content-Based Recommendations - ITI Tasks.ipynb
19.Recommender System/ITI - Task 2 (Content-Based + Neighborhood CF)/ITI - Task 2 (Content-Based + Neighborhood CF)/imgs/nice_ex.png
19.Recommender System/ITI - Task 2 (Content-Based + Neighborhood CF)/ITI - Task 2 (Content-Based + Neighborhood CF)/imgs/real_ex.png
19.Recommender System/ITI - Task 2 (Content-Based + Neighborhood CF)/ITI - Task 2 (Content-Based + Neighborhood CF)/imgs/userxitem.png
19.Recommender System/ITI - Task 2 (Content-Based + Neighborhood CF)/ITI - Task 2 (Content-Based + Neighborhood CF)/movies.dat
19.Recommender System/ITI - Task 2 (Content-Based + Neighborhood CF)/ITI - Task 2 (Content-Based + Neighborhood CF)/movies_clean.csv
19.Recommender System/ITI - Task 2 (Content-Based + Neighborhood CF)/ITI - Task 2 (Content-Based + Neighborhood CF)/ratings.dat
19.Recommender System/ITI - Task 2 (Content-Based + Neighborhood CF)/ITI - Task 2 (Content-Based + Neighborhood CF)/reviews_clean.csv
19.Recommender System/ITI - Task 2 (Content-Based + Neighborhood CF)/ITI - Task 2 (Content-Based + Neighborhood CF)/tests.py
19.Recommender System/ITI - Task 2 (Content-Based + Neighborhood CF)/ITI - Task 2 (Content-Based Recommendation).zip
ZZ.Project/2020 Arabic text summarization using deep learning approach.pdf
ZZ.Project/dataset.zip
ZZ.Project/uploaded-dataset/articles introductions.txt
ZZ.Project/uploaded-dataset/articles titles.txt
20.DS in production/Demo/mlflowFiles/0/
